 .statistics-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
 }
 
 .statistic {
    margin: 0 20px;
    text-align: center;
 }
 
 .top-times {
    margin-top: 20px;
 }
 
 .top-time {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
 }
 .podium {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .podium-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }
  
  .podium-item.gold {
    background-color: gold;
  }
  
  .podium-item.silver {
    background-color: silver;
  }
  
  .podium-item.bronze {
    background-color: #CD7F32;
  }
 