{% extends 'bootstrap/base.html' %}

{% block title %}Today's Leaderboard{% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="font-size: 15px;" href="{{ url_for('index') }}">Home</a>
        <a class="navbar-brand" style="font-size: 15px;" href="{{ url_for('top_times') }}">Podium</a>
        <a class="navbar-brand" style="font-size: 15px;" href="{{ url_for('recent_games') }}">Recent</a>
        <a class="navbar-brand" style="font-size: 15px;" href="{{ url_for('today') }}">Today</a>
        <a class="navbar-brand" style="font-size: 15px;" href="https://www.nytimes.com/puzzles/leaderboards/invite/341f3f73-133e-440d-b6ca-ca5b08a0d7c4">Join</a>
    </nav>
    <div class="container">
        {% if leaderboard_data %}
        <h1 class="mb-4 text-center">Today's Leaderboard</h1>
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard_data %}
                    <tr>
                        <td>{{ entry['Rank'] }}</td>
                        <td><a href="{{ url_for('user', username=entry['Username']) }}">{{ entry['Username'] }}</a></td>
                        <td>{{ entry['Time'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
